<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.bamboo.mapper.AuthMapper">

    <!--通过手机号查找用户权限信息-->
    <select id="getRolesAndPermissionsByAccountId" resultType="java.util.HashMap" parameterType="String">
        SELECT role.name AS role, permission.name AS permission
        FROM role,
        permission,
        account_role,
        role_permission
        WHERE account_role.account_id=#{id}
        AND account_role.role_id=role.id
        AND role_permission.role_id=role.id
        AND role_permission.permission_id=permission.id
    </select>

</mapper>